version: "3.9"

x-common-fastapi-healthcheck: &common-fastapi-healthcheck
  test:
    [
      "CMD-SHELL",
      "wget --quiet --tries=1 --spider http://localhost:8000/ || exit 1",
    ]
  interval: 5s
  timeout: 5s
  retries: 3
  start_period: 10s
x-common-restart-policy: &common-restart-policy "no"

services:
  neo4j:
    image: neo4j:5.15.0
    container_name: neo4j_service
    ports:
      - "${NEO4J_HTTP_PORT:-7474}:7474"  # HTTP
      - "${NEO4J_BOLT_PORT:-7687}:7687"  # Bolt
    volumes:
      - ./data/neo4j_data:/data
      - ./data/neo4j_logs:/logs
      - ./data/neo4j_import:/var/lib/neo4j/import
      - ./data/neo4j_plugins:/plugins
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc", "graph-data-science"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*,gds.*
      - NEO4J_dbms_memory_heap_initial__size=512m
      - NEO4J_dbms_memory_heap_max__size=2G
      - NEO4J_dbms_memory_pagecache_size=1G
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: *common-restart-policy

  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector_service
    ports:
      - "${PGVECTOR_PORT:-5432}:5432"
    volumes:
      - ./data/pgvector_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${PGVECTOR_USER:-postgres}
      - POSTGRES_PASSWORD=${PGVECTOR_PASSWORD}
      - POSTGRES_DB=${PGVECTOR_DB:-vectordb}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${PGVECTOR_USER:-postgres}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: *common-restart-policy

  graph-rag:
    build:
      context: .
      dockerfile: graph-rag/Dockerfile
      target: graph-rag
    container_name: graph_rag_service
    volumes:
      - ./graph-rag:/home/issm/app/graph-rag/
      - ./issm-api-common:/home/issm/app/issm-api-common/
      - ./issm-common-services:/home/issm/app/issm-common-services/
      - ./issm-common-database-setup:/home/issm/app/issm-common-database-setup/
    healthcheck: *common-fastapi-healthcheck
    ports:
      - "${GRAPH_RAG_SERVICE_PORT}:8000"
    env_file:
      - .env
    restart: *common-restart-policy
